<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @*<meta name="viewport" content="width=device-width" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
     @Styles.Render("~/Content/foundation/css")
    @Styles.Render("~/Content/photoswipe/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav class="top-bar">
            <div class="right">
                <ul id="menu" class="right">
                    <li>@Html.ActionLink("Photoswipe", "Index", "Home")</li>
                    <li>@Html.ActionLink("Photoswipe Custom Nav experiment", "About", "Home")</li>
                    <li>@Html.ActionLink("featured", "featured", "Home")</li>
                    <li>@Html.ActionLink("Foundation Clearing", "Contact", "Home")</li>
                    <li class="toggle-topbar"><a href="#"></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="row">
        <div class="content">
            <div class="row">
                <div class="eight columns centered">
                    <h1>Photo Gallery Demo</h1>
                </div>
            </div>
            <div class="row">
                <div class="eight columns centered"></div>
            </div>
            <div id="body">
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
        </div>
    </div>
    
    <footer>
        <div class="row">
            <p>&copy; @DateTime.Now.Year - Safenet Consulting, Inc.</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation")
    @Scripts.Render("~/bundles/elastislide")
    @*<script type="text/javascript" src="/Scripts/jquerypp.custom.js"></script>
		<script type="text/javascript" src="/Scripts/jquery.elastislide.js"></script>*@
    
    

    @RenderSection("scripts", required: false)
</body>
</html>
