@{
    ViewBag.Title = "About";
}
@section scripts{
    <script src="@Url.Content("~/Content/photoswipe/klass.min.js")"></script>
    <script src="@Url.Content("~/Content/photoswipe/code.photoswipe-3.0.5.min.js")"></script>
    <script src="@Url.Content("~/Content/photoswipe/code.photoswipe.jquery-3.0.5.min.js")"></script>

    <script type="text/javascript">
        /* 
			Overview: 
			---------
			
			Demonstrates inline functionality with indicators. This demo sets the images using an array.
			There is nothing stopping you basing this on image dom elements like other examples.
			
			Also in this demo I "hardcode" the indicators into the markup. Again, there is nothing stopping
			you creating them as needed in the JavaScript.
		
		*/

        (function (window, Util, PhotoSwipe) {

            Util.Events.domReady(function (e) {

                var instance, indicators;

                instance = PhotoSwipe.attach(
					[
						{ url: '../images/full/001.jpg', caption: 'Image 001' },
						{ url: '../images/full/002.jpg', caption: 'Image 002' },
						{ url: '../images/full/003.jpg', caption: 'Image 003' },
						{ url: '../images/full/004.jpg', caption: 'Image 004' },
						{ url: '../images/full/005.jpg', caption: 'Image 005' },
						{ url: '../images/full/006.jpg', caption: 'Image 006' },
						{ url: '../images/full/007.jpg', caption: 'Image 007' },
						{ url: '../images/full/008.jpg', caption: 'Image 008' },
						{ url: '../images/full/009.jpg', caption: 'Image 009' },
						{ url: '../images/full/010.jpg', caption: 'Image 010' },
						{ url: '../images/full/011.jpg', caption: 'Image 011' },
						{ url: '../images/full/012.jpg', caption: 'Image 012' },
						{ url: '../images/full/013.jpg', caption: 'Image 013' },
						{ url: '../images/full/014.jpg', caption: 'Image 014' },
						{ url: '../images/full/015.jpg', caption: 'Image 015' },
						{ url: '../images/full/016.jpg', caption: 'Image 016' },
						{ url: '../images/full/017.jpg', caption: 'Image 017' },
						{ url: '../images/full/018.jpg', caption: 'Image 018' }
					],
					{
					    target: window.document.querySelectorAll('#PhotoSwipeTarget')[0],
					    preventHide: true,
					    getImageSource: function (obj) {
					        return obj.url;
					    },
					    getImageCaption: function (obj) {
					        return obj.caption;
					    }
					}
				);


                indicators = window.document.querySelectorAll('#Indicators span');
                
                // onDisplayImage - set the current indicator
                instance.addEventHandler(PhotoSwipe.EventTypes.onDisplayImage, function (e) {

                    var i, len;
                    for (i = 0, len = indicators.length; i < len; i++) {
                        indicators[i].setAttribute('class', '');
                        indicators[i].setAttribute('id', 'ind-' + i);
                        indicators[i].setAttribute('index', i);
                        indicators[i].setAttribute('onclick', 'showImage(this, window.Code.PhotoSwipe)');
                    }
                    indicators[e.index].setAttribute('class', 'current');
                    
                });

                instance.show(3);

            });


        }(window, window.Code.Util, window.Code.PhotoSwipe));
        
        function showImage(obj, photoSwipe) {
            var e = $(obj).attr('index');
            photoSwipe.activeInstances[0].instance.carousel.show(e);
        }
    </script>
}
<div id="PhotoSwipeTarget"></div>
<div id="Indicators">
		<span><img src="@Url.Content("~/images/thumb/001.jpg")" alt="Image 001" /></span>
		<span><img src="@Url.Content("~/images/thumb/002.jpg")" alt="Image 002" /></span>
		<span><img src="@Url.Content("~/images/thumb/003.jpg")" alt="Image 003" /></span>
		<span><img src="@Url.Content("~/images/thumb/004.jpg")" alt="Image 004" /></span>
		<span><img src="@Url.Content("~/images/thumb/005.jpg")" alt="Image 005" /></span>
        <span><img src="@Url.Content("~/images/thumb/006.jpg")" alt="Image 006" /></span>
		<span><img src="@Url.Content("~/images/thumb/007.jpg")" alt="Image 007" /></span>
		<span><img src="@Url.Content("~/images/thumb/008.jpg")" alt="Image 008" /></span>
		<span><img src="@Url.Content("~/images/thumb/009.jpg")" alt="Image 009" /></span>
        <span><img src="@Url.Content("~/images/thumb/010.jpg")" alt="Image 010" /></span>
		<span><img src="@Url.Content("~/images/thumb/011.jpg")" alt="Image 011" /></span>
		<span><img src="@Url.Content("~/images/thumb/012.jpg")" alt="Image 012" /></span>
		<span><img src="@Url.Content("~/images/thumb/013.jpg")" alt="Image 013" /></span>
		<span><img src="@Url.Content("~/images/thumb/014.jpg")" alt="Image 014" /></span>
        <span><img src="@Url.Content("~/images/thumb/015.jpg")" alt="Image 015" /></span>
		<span><img src="@Url.Content("~/images/thumb/016.jpg")" alt="Image 016" /></span>
        <span><img src="@Url.Content("~/images/thumb/017.jpg")" alt="Image 017" /></span>
		<span><img src="@Url.Content("~/images/thumb/018.jpg")" alt="Image 018" /></span>
		
	</div>

