@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <script src="@Url.Content("~/Content/photoswipe/klass.min.js")"></script>
    <script src="@Url.Content("~/Content/photoswipe/code.photoswipe-3.0.5.min.js")"></script>
    <script src="@Url.Content("~/Content/photoswipe/code.photoswipe.jquery-3.0.5.min.js")"></script>

    <script type="text/javascript">

        (function (window, $, photoSwipe) {
            $(document).ready(function () {
                var options = {
                    preventHide: true,
                    backButtonHideEnabled: true
                };
                $("#Gallery a").photoSwipe(options);
                photoSwipe.show(0);
                //photoSwipe.activeInstances[0].instance.carousel.show(0);
            });
        }(window, window.jQuery, window.Code.PhotoSwipe));

    </script>
}
<div class="row">
    <div class="twelve columns centered">
        <div>stuff and things above the gallery</div>

        <ul id="Gallery" class="small-block-grid-2 large-block-grid-4 gallery">
            <li><a href="@Url.Content("~/images/full/001.jpg")">
                <img src="@Url.Content("~/images/thumb/001.jpg")" alt="Image 001" /></a></li>
            <li><a href="images/full/002.jpg">
                <img src="images/thumb/002.jpg" alt="Image 002" /></a></li>
            <li><a href="images/full/003.jpg">
                <img src="images/thumb/003.jpg" alt="Image 003" /></a></li>
            <li><a href="images/full/004.jpg">
                <img src="images/thumb/004.jpg" alt="Image 004" /></a></li>
            <li><a href="images/full/005.jpg">
                <img src="images/thumb/005.jpg" alt="Image 005" /></a></li>
            <li><a href="images/full/006.jpg">
                <img src="images/thumb/006.jpg" alt="Image 006" /></a></li>
            <li><a href="images/full/007.jpg">
                <img src="images/thumb/007.jpg" alt="Image 007" /></a></li>
            <li><a href="images/full/008.jpg">
                <img src="images/thumb/008.jpg" alt="Image 008" /></a></li>
            <li><a href="images/full/009.jpg">
                <img src="images/thumb/009.jpg" alt="Image 009" /></a></li>
            <li><a href="images/full/010.jpg">
                <img src="images/thumb/010.jpg" alt="Image 010" /></a></li>
            <li><a href="images/full/011.jpg">
                <img src="images/thumb/011.jpg" alt="Image 011" /></a></li>
            <li><a href="images/full/012.jpg">
                <img src="images/thumb/012.jpg" alt="Image 012" /></a></li>
            <li><a href="images/full/013.jpg">
                <img src="images/thumb/013.jpg" alt="Image 013" /></a></li>
            <li><a href="images/full/014.jpg">
                <img src="images/thumb/014.jpg" alt="Image 014" /></a></li>
            <li><a href="images/full/015.jpg">
                <img src="images/thumb/015.jpg" alt="Image 015" /></a></li>
            <li><a href="images/full/016.jpg">
                <img src="images/thumb/016.jpg" alt="Image 016" /></a></li>
            <li><a href="images/full/017.jpg">
                <img src="images/thumb/017.jpg" alt="Image 017" /></a></li>
            <li><a href="images/full/018.jpg">
                <img src="images/thumb/018.jpg" alt="Image 018" /></a></li>
        </ul>
        <div>Other stuff and more things below the gallery</div>
    </div>
</div>
